yarn-error.log
examples
node_modules
# Only ignore the root source, not the built source
src/

.editorconfig
.nvmrc
.prettierrc.json
.babelrc
tsconfig.json

.github
coverage
tests

*.tgz
Makefile
vitest.*
CHANGELOG.md